[package]
name = "macos-unifiedlogs"
version = "0.5.0"
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/mandiant/macos-unifiedlogs"
description = "A library to help parse macOS UnifiedLogs"
keywords = ["forensics", "macOS", "unifiedlog"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nom = "8.0.0"
serde_json = "1.0.149"
serde = { version = "1.0.228", features = ["derive"] }
log = "0.4.29"
lz4_flex = "0.12.0"
byteorder = "1.5.0"
plist = "1.8.0"
regex = "1.12.2"
base64 = "0.22.1"
chrono = "0.4.43"
walkdir = "2.5.0"
sunlight = "0.1.4"
dirs = "5.0.1"
ctrlc = "3.5.1"
tempfile = "3.24.0"

[dev-dependencies]
chrono = "0.4.43"
criterion = "0.8.1"
anyhow = "1.0.100"
test-case = "3.3"

[[bench]]
name = "high_sierra_benchmark"
harness = false

[[bench]]
name = "big_sur_benchmark"
harness = false

[[bench]]
name = "monterey_benchmark"
harness = false
