[package]
name = "macos-unifiedlogs"
version = "0.1.2"
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/mandiant/macos-unifiedlogs"
description = "A library to help parse macOS UnifiedLogs"
keywords = ["forensics", "macOS", "unifiedlog"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nom = "8.0.0"
serde_json = "1.0.139"
serde = { version = "1.0.218", features = ["derive"] }
log = "0.4.26"
lz4_flex = "0.11.3"
byteorder = "1.5.0"
plist = "1.7.0"
regex = "1.11.1"
base64 = "0.22.1"
chrono = "0.4.39"
walkdir = "2.5.0"
sunlight = "0.1.1"

[dev-dependencies]
chrono = "0.4.39"
criterion = "0.5.1"
anyhow = "1.0.96"
test-case = "3.3"

[[bench]]
name = "high_sierra_benchmark"
harness = false

[[bench]]
name = "big_sur_benchmark"
harness = false

[[bench]]
name = "monterey_benchmark"
harness = false
