name: Cargo Deny Check
on: [pull_request]

permissions: {}

jobs:
  cargo-deny:
    name: Run cargo deny checks
    runs-on: ubuntu-22.04
    permissions: 
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
        with:
          persist-credentials: false
      - uses: EmbarkStudios/cargo-deny-action@76cd80eb775d7bbbd2d80292136d74d39e1b4918 #v2.0.14
