name: Release Example Binary

on:
  push:
    tags:
      - v[0-9]+.*

permissions: {}

jobs:
  build:
    name: Release example binary
    strategy:
      matrix:
        info:
          - os: "macOS-latest"
            target: "x86_64-apple-darwin"
          - os: "macOS-latest"
            target: "aarch64-apple-darwin"
          - os: "windows-latest"
            target: "x86_64-pc-windows-msvc"
          - os: "ubuntu-latest"
            target: "x86_64-unknown-linux-gnu"
    runs-on: ${{ matrix.info.os }}
    permissions: 
      contents: write # Used to publish releases
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
        with:
          persist-credentials: false

      - name: Setup Stable Rust toolchain
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 #v2025.09.23
        with:
          components: clippy, rustfmt
          toolchain: stable
          targets: ${{ matrix.info.target }}

      - name: Build Example
        run: cd examples && cargo build --release --target ${{ matrix.info.target }}

      - name: Package Example
        shell: bash
        env:
          NAME: unifiedlog_iterator
          TARGET: ${{ matrix.info.target }}
        run: .github/scripts/package.sh

      - name: Release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 #v2.3.3
        with:
          files: "unifiedlog_iterator*"
          name: "${{ vars.GITHUB_REF_NAME }} - Released!"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}